In [2]:
# List of high schools

high_schools = ["Hernandez High School", "Figueroa High School",
                "Wilson High School","Wright High School"]

for school in high_schools:

    print(school)

Hernandez High School
Figueroa High School
Wilson High School
Wright High School

In [25]:
# A dictionary of high schools and the type of school.
high_school_types = [{"High School": "Griffin", "Type":"District"},
                    {"High School": "Figueroa", "Type": "District"},
                    {"High School": "Wilson", "Type": "Charter"},
                    {"High School": "Wright", "Type": "Charter"}]

for key, value in high_school_types:
    
    print("High School"(value)"Type"(value))

SyntaxError: invalid syntax (759718524.py, line 9)

In [29]:
 # List of high schools
high_schools = ["Huang High School",  "Figueroa High School", "Shelton High School", "Hernandez High School","Griffin High School","Wilson High School", "Cabrera High School", "Bailey High School", "Holden High School", "Pena High School", "Wright High School","Rodriguez High School", "Johnson High School", "Ford High School", "Thomas High School"]

In [3]:
# Add the Pandas dependency
import pandas as pd

In [33]:
# Create a Pandas Series from a list.
school_series = pd.Series(high_schools)

for school in school_series:
    
    print(school)

Huang High School
Figueroa High School
Shelton High School
Hernandez High School
Griffin High School
Wilson High School
Cabrera High School
Bailey High School
Holden High School
Pena High School
Wright High School
Rodriguez High School
Johnson High School
Ford High School
Thomas High School

In [35]:
# A dictionary of high schools
high_school_dicts = [{"School ID": 0, "school_name": "Huang High    School", "type": "District"},
                   {"School ID": 1, "school_name": "Figueroa High School", "type": "District"},
                    {"School ID": 2, "school_name":"Shelton High School", "type": "Charter"},
                    {"School ID": 3, "school_name":"Hernandez High School", "type": "District"},
                    {"School ID": 4, "school_name":"Griffin High School", "type": "Charter"}]

In [36]:
school_df = pd.DataFrame(high_school_dicts)

school_df

   School ID            school_name      type
0          0   Huang High    School  District
1          1   Figueroa High School  District
2          2    Shelton High School   Charter
3          3  Hernandez High School  District
4          4    Griffin High School   Charter

In [37]:
# Three separate lists of information on high schools
school_id = [0, 1, 2, 3, 4]

school_name = ["Huang High School", "Figueroa High School",
"Shelton High School", "Hernandez High School","Griffin High School"]

type_of_school = ["District", "District", "Charter", "District","Charter"]

In [38]:
# Initialize a new DataFrame.
schools_df = pd.DataFrame()

In [43]:
# Add the list to a new DataFrame.
schools_df["School ID"] = school_id
schools_df["type"] = type_of_school
schools_df["school_name"] = school_name

# Print the DataFrame.
schools_df

   School ID type_of_school            school_name      type
0          0           Type      Huang High School  District
1          1           Type   Figueroa High School  District
2          2           Type    Shelton High School   Charter
3          3           Type  Hernandez High School  District
4          4           Type    Griffin High School   Charter

In [44]:
# Create a dictionary of information on high schools.
high_schools_dict = {'School ID': school_id, 'school_name':school_name, 'type':type_of_school}

In [1]:
# Add the list to a new DataFrame.
schools_df["School ID"] = school_id
schools_df["type"] = type_of_school
schools_df["school_name"] = school_name

# Print the DataFrame.
school_df.values

NameError: name 'school_id' is not defined

In [19]:
school_name = ['Huang High School', 'Wilson High', 'Griffin High', 'Allen High', 'Laney High']

type_of_school = ["District", "District", "Charter", "District","Charter"]

In [20]:
school_df = pd.DataFrame()

In [21]:
school_df["School Name"] = school_name
school_df["School Type"] = type_of_school

school_df.values

array([['Huang High School', 'District'],
       ['Wilson High', 'District'],
       ['Griffin High', 'Charter'],
       ['Allen High', 'District'],
       ['Laney High', 'Charter']], dtype=object)